<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="description"
        content="POPULATE THIS">
  <meta name="keywords"
        content="POPULATE THIS">
  <meta name="author"
        content="Team Blue">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet"
        type="text/css"
        href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300"
        rel="stylesheet">
</head>

<body>

  <script language="javascript"
          type="text/javascript"
          src="js/lib/jquery-3.2.1.js">
  </script>

  <header>
    <div class="text">
      our project
    </div>
  </header>

  <main>
    <div class="text">
      stuff
    </div>
  </main>

  <footer>
    <div class="text">
      footer
    </div>
  </footer>

</body>

</html>
