
html,
body {
  height: 100%vh;
  width: 100%vw;
  min-width: 200px;
  min-height: 400px;
  background: #eeeeee;
  margin: 0px;
  padding: 0px;
  font-family: 'Comfortaa', sans-serif;
  color: darkgray;
  text-align: center;
}

header,
main,
footer {
  position: fixed;
  width: 100%;
  background: slategray;
  text-align: center;
}

header {
  top: 0;
  height: 50px;
}

main {
  top: 50px;
  height: calc(100% - 100px);
  background: white;
}

footer {
  bottom: 0px;
  height: 50px;
}

.text {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  text-align: center;
}
